@using DAO.Entities
@*@model RecetasTP.Models.DinerBookViewModel*@
@model List<DAO.Entities.AvailableEvent>
@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Tasty Events - Reserva";
}

<div class="text-center">
    <br />
    <h5>Listado de eventos disponibles</h5>

    <div class="row">
        @TempData["value"]
    </div>

    @if(TempData["Message"] != null)
    {
        <div class="notification alert @TempData["AlertType"]" role="alert">
          @TempData["Message"]
        </div>
    }

    <div class="events">
        
        @foreach(AvailableEvent e in Model)
        {
        <a href="/diner/book/@e.Ev.EventId">
            <div class="event">
                <div class="event-thumb-container">
                    <img src="~/img/@e.Ev.Picture" alt="thumbnail" class="event-thumbnail" />
                </div>
                <div class="event-description">
                    <p class="event-name">@e.Ev.Name</p>
                    <p class="event-name">$ @e.Ev.Price</p>
                    <p class="event-rating">@e.Ev.Date</p>
                    <p class="event-rating">Cupos disponibles: @e.FreeSlots</p>
                </div>
            </div>
        </a>
        }
    </div>
</div>


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
