@model RecetasTP.Models.DefaultViewModel

@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Default Page";
}


<div class="text-center">
    <br />
    <h5>Últimos eventos finalizados</h5>

    <div class="row">
        @TempData["value"]
    </div>

    <div class="events">
        @for (int i = 0; i < Model.eventsList.Count; i++)
        {
            <div class="event">
                <div class="event-thumb-container">
                    <img src="~/img/@Model.eventsList[i].Picture" alt="thumbnail" class="event-thumbnail" />
                </div>
                <div class="event-description">
                    <p class="event-index" id="index">@((i+1))</p>
                    <p class="event-name">@Model.eventsList[i].Name</p>
                    <p class="event-name">$ @Model.eventsList[i].Price</p>
                    <p class="event-rating">@Model.avgEventRatings[i]</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
