@model RecetasTP.Models.DefaultDetailsViewModel

@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Default Page";
}


<div class="text-center">

    <div class="row">
        @TempData["value"]
    </div>

    <div class="container ">
        <div class="row">
            <div class="events noFlex col-4">
                <div class="event">
                    <div class="event-thumb-container">
                        <img src="~/img/@Model.evnt.Picture" alt="thumbnail" class="event-thumbnail" />
                    </div>
                    <div class="event-description">
                        <p class="event-name">@Model.evnt.Name</p>
                        <p class="event-name">$ @Model.evnt.Price</p>
                        <p class="event-rating">Fecha: @Model.evnt.Date</p>
                        <p class="event-rating">Total comensales: @Model.evnt.DinersAmount</p>
                    </div>
                </div>
            </div>
            <div class="col-8 autoMargin details">
                <p>@Model.evnt.Description</p>
                <br />
                <p>Chef: @Model.evntChef.Name</p>
            </div>
        </div>
    </div>
</div>


@* Comments *@
<div>
    <h5>Comentarios</h5>
    <ol class="list-group list-group-numbered">
       @{ int rowNum2 = 0; }
       @foreach (var com in Model.evntComments)
       {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><b>@(rowNum2 += 1)</b></div>
                @com.Comments
            </div>
            <span class="badge bg-primary rounded-pill text-light">@com.Rating1</span>
            </li>
       }
    </ol>
</div>


@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
